@font-face {
  font-family: RobotoPc;
  src: url(../fonts/Roboto-Light.ttf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: RobotoPc;
  scroll-behavior: smooth;
}



/* contenedor para central*/
.contenedorCentral {
  width: 1200px;
  position: relative;
  margin: 0px auto;
}

/*Fin  contenedor */

/* contenedor */
#contenedor {
  width: 1200px;
  min-height: 600px;
  float: left;
  background-color: #eeeeee;
}

/*Fin  contenedor */

#ancla {
  position: fixed;
  right: 80px;
  bottom: 10px;
  z-index: 2;
}

#ancla img {

  height: 35px;

}


/* nav y menu */
header {
  width: 1200px;
  float: left;
  z-index: 2;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
 
}

#menu a {
  color: white;
  font-weight: bold;
}

#menu ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 2;
}

#menu li:hover ul {
  display: block;

}

#menu li:hover {
  background-color: rgb(255, 179, 0);
  transition: 1.2s;
}

#menu li {
  position: relative;
  background-color: rgb(0, 174, 255);
  color: white;
  display: block;
  padding: 10px 12px;
  border-left: 1px solid white;
  width: 300px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  float: left;
}

#menu a,
#menu span {
  text-decoration: none;
}

.uve {
  font-size: 14px;
  font-weight: 800;

  color: rgb(255, 179, 0);
}

nav div {
  transition: 0.3s;
  cursor: default;
}

nav>div:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/* Fin Nav Menu */

/*pie*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  background-color: rgba(0, 174, 255, 0.5);
  min-height: 200px;
  float: left;
}

footer h2 {
  margin-bottom: 10px;
}

.conjuntoRedes {
  display: flex;
  justify-content: space-around;
}

.footerder {
  margin-bottom: 30px;
}

/* fin pie */


/* ---------------------------------- */
/*PAGINA-INICIO*/

#texto1inicio {
  text-align: center;
  margin-top: 150px;
}

.subtituloInicio {
  margin-top: 20px;
  margin-bottom: 80px;
}

#texto2inicio {
  background-color: rgba(0, 174, 255, 0.5);
  float: left;
  width: 1200px;
  padding-right: 40px;
  padding-top: 50px;
  height: 580px;
}

.izqInicio {
  width: 350px;
  border-radius: 0px 10px 10px 0px;
  height: 470px;
  background: url(../img/inicio/inicio1.jpg);
  background-size: cover;
  float: left;
}

.derInicio {
  width: 800px;
  float: right;
  margin-bottom: 100px;
}

.derInicio h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.derInicio ul {

  margin-left: 40px;
  text-align: left;


}

.derInicio ul li {


  text-align: left;
  margin-top: 20px;

}


#texto3inicio {
  float: left;
  width: 1200px;

  padding-top: 40px;
  padding-bottom: 40px;
}

.izqInicio2 {
  width: 800px;
  height: 380px;
  padding-left: 30px;
  float: left;
}

.izqInicio2 h2 {
  margin-bottom: 10px;
}

.izqInicio2 li {
  margin-top: 10px;
  margin-left: 30px;
}

.derInicio2 {
  width: 380px;
  height: 400px;
  background: url(../img/inicio/inicio2.jpg);
  background-size: cover;
  float: right;
  border-radius: 10px 0px 0px 10px;
}

/*FIN PAGINA-INICIO */

/* servicios */

#mecanica {
  width: 1200px;
  height: 600px;
  float: left;
}

#mecanica .Serviciostitulo {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.mecanicaizq {
  background: url(../img/servicios/img1.jpg);
  background-size: cover;
  height: 400px;
  width: 300px;
  float: left;
  border-radius: 0px 10px 10px 0px;
}

.mecanicader {
  height: 400px;
  width: 850px;
  float: right;
}

.mecanicader li {
  margin-top: 20px;
  margin-left: 20px;
}

#Mantenimiento {
  width: 1200px;
  height: 800px;
  padding-left: 40px;
  float: left;
  background-color: rgba(0, 174, 255, 0.927);
  
}

#Mantenimiento .Serviciostitulo {
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
}

.Mantenimientoizq img {
  margin-left: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#Mantenimiento li {
  margin-left: 40px;
  margin-top: 10px;
}

#Chapa {
  width: 1200px;
  min-height:1200px;
  float: left;
}

#Chapa .Serviciostitulo {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#Chapa .Serviciostitulo img {
  margin-top: 30px;
  border-radius: 20px;
  text-align: center;
}

.chapaizq {
  width: 1200px;
  height: 400px;
  float: left;
}

/* seguros girando */
.contenedorImagenCentral{
  height:500px ;
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10%;
  margin-left: 30%;
  animation-name: example;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear ;
}



 @keyframes example {
  from {    transform: rotate(360deg);}

}


@keyframes example2 {
  from {    transform: rotate(-360deg);}

}  


.contenedorImagenCentral img{
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;

}
.axa{
  right: -70px;
}

.mafre{
  top:-50px;
  left: 200px;
}

.mutua{
  left: -70px;
}

.Zurich{
  bottom: -50px;

}

.gerenali{
  bottom: 30px; 
  left: 30px;
}


.liberty{
  bottom: 45px;
  right:  10px;

}



.caser{
  top: 20px; 
  left: 0px;
}


.Allianz{
  top: 35px;
  right:  -10px;

}



.imagenCentral{
  background: url(../img/logo.png);
  background-size: cover;
 height: 220px;
 width: 320px;

 
 animation-name: example2;
 animation-duration: 40s;
 animation-iteration-count: infinite;
 animation-timing-function: linear ;
}




















#Neumaticos {
  width: 1200px;
  height: 500px;
  float: left;
  background-color: rgba(0, 174, 255, 0.927);
}

#Neumaticos .Serviciostitulo {
  width: 1200px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#Neumaticos p {
  margin-bottom: 10px;
}

.neumaticosizq {
  background: url(../img/servicios/neumaticos.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
  float: left;
  border-radius: 0px 10px 10px 0px;
}

.neumaticosder {
  height: 400px;
  width: 850px;
  float: right;

}

.neumaticosder  p{
 
  text-align: center;
  float: left;
  
}

/* ---------------------------------- */

/*presupuestos*/

.presu h2,
p {
  text-align: center;
}


.presu {
  margin-top: 30px;
  float: left;
  left: 40px;
  position: relative;
}

.cabecera {
  font-size: 30px;
  font-weight: bolder;
}

.formuP {
  width: 1109px;
  height: 700px;
  background-color: rgba(179, 219, 240, 0.927);
  border: 1px solid;
  margin: 15px;
}

.field2 {
  width: 900px;
  padding: 5px;
}

/* Fin presupuestos */

/* ---------------------------------- */

/* contacta */

.contactenos H2 {
  text-align: center;
  font-size: 45px;
  padding-top: 10px;
}

.info {
  width: 650px;
  height: 200px;
  background-color: rgba(179, 219, 240, 0.927);
  border: 1px solid;
  border-radius: 5px;
  float: left;
  left: 20px;
  top: 45px;
  position: relative;
}

.info p {
  float: left;
  font-size: 20px;
  margin-left: 25px;
}

.info h3 {
  text-align: center;
  font-size: 35px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.contactenos {
  position: relative;
  margin-top: 80px;
  height: 1600px;
  width: 1200px;
  z-index: 1;
  margin-top: 130px;
  background-color: #eeeeee;
}

/*formulario*/
.formulario {
  position: relative;
  top: -750px;
  right: 50px;
}

.fotoc {
  float: left;
  margin-top: 75px;
  margin-left: 15px;
}

.form {
  float: right;
  right: -20px;
  min-height: 400px;
  width: 450px;
  background-color: rgba(179, 219, 240, 0.927);
  padding: 20px;
  position: relative;
  margin-top: -500px;
  border: 1px solid;
  border-radius: 9px;
}

.field {
  border: 1px solid black;
  padding: 5px;
  width: 400px;
  outline: none;
}

.field:focus {
  border-color: blue;
}

.btn {
  border-radius: 3px;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.3);
  background-color: skyblue;
  cursor: pointer;
  width: 190px;
  color: black;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background-color: blue;
  color: white;
}

.btn:active {
  background-color: green;
}


/*mapa*/
.mapa {
  float: left;
  margin-top: 75px;
  height: 507px;
  width: 907px;
  border: 1px solid black;
  margin-left: 140px;
}

#publicidad{
  background-color: aquamarine;
  width: 1000px;
  height: 100px;
  position: relative;
  top: 1350px;
  margin: 0 auto;
}

/* Fin contacta */